/* text stuff */

body {
    padding: 40px;
}

h3 {
    color: #763232;
    font-size: 18px;
}

body {
    font-size: 12px;
    position: relative
}

p {
    font-size: 14px;
}

.country-label {
    text-anchor: end;
}

/* container things */

.row-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.button-container {
    border-left: 1px solid #cccccc
}

#chart-area {
    margin-left: -40px;
}

#country-tooltip {
    position: absolute;
    background-color: white;
    border: 2px solid #763232;
    border-radius: 4px;
    width: 250px;
    height: 360px;
    padding: 10px;
}

#country-tooltip p {
    font-size: 12px;
}

.outline-container {
    border: 1px solid #cccccc;
    border-radius: 8px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-bottom: 50px;
}

#tooltip-triangle {
    position: absolute;
    height: 20px;
    width: 20px;
    /* z-index: ; */
    background-color: #763232;
    transform: rotate(45deg) translateY(25%) translateX(-40%) skew(170deg, 170deg);
}

/* .tooltip-text-container {
    padding: 10px;
} */

/* the button classes */

.button {
    width: 160px;
    height: 24px;
    margin-left: 14px;
    margin-bottom: 18px;
    border-radius: 32px;
    margin-top: 10px;
    position: relative;
}

.button span {
    pointer-events: none;
}

.button.disabled {
    /* background-color: #e7e7e7 !important; */
    border: none !important;
    opacity: 0.7 !important;
    /* color: #9a9a9a !important; */
}

.button-close {
    position: absolute;
    left: 140px;
    top: 1px;
}

.button-close.disabled {
    display: none;
}

.button-text {
    margin-right: 10px
}

#selectedRestaurants-button {
    background-color: #70a5b080;
    border: 2px solid #70a5b0;
    color: #20464e;
}

#bibGourmand-button {
    background-color: #8ecac071;
    border: 2px solid #8ecac0;
    color: #1b544b;
}

#oneStar-button {
    background-color: #f3cf9184;
    border: 2px solid #f3cf91;
    color: #6a4910
}

#twoStar-button {
    background-color: #f4838378;
    border: 2px solid #f48383;
    color: #811313;
}

#threeStar-button {
    background-color: #cd4a7371;
    border: 2px solid #cd4a73;
    color: #670404
}


/* chart stuff */

.country-label:hover {
    cursor: default;
}